In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./image_tag.csv')

In [23]:
df.loc[df['image name']=='litsvn/41671.png', 'hair color'].values

array([None], dtype=object)

In [24]:
df.dropna(how='all').dropna(how='all', axis=1)

   Unnamed: 0                   image name  hair color
0           0              椿/サーバルちゃん41.png  brown hair
1           1                椿/水着いろは11.png   pink hair
2           2                椿/悪魔ほむら01.png  black hair
3           3       litsvn/A↑Q↓U↑A↓141.png   pink hair
4           4  litsvn/Afternoon tea661.png  brown hair
5           5             litsvn/41671.png        None
6           6      litsvn/CODE-DDOG251.png  brown hair
7           7                椿/千夜ちゃん31.png  brown hair
8           8                椿/暁美ほむら61.png  black hair